@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*  font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(147.47deg,
      #edefe2 0.66%,
      #dbe9e4 105.7%,
      #dbe9e4 105.7%);
  height: 100%;
}

.container {
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  width: 100%;
}

.Language {
  display: flex;
  width: 100%;
  justify-content: end;
}

.Language svg {
  margin-top: 2px;
  cursor: pointer;
}

/*Navbar */
.Navbar {
  padding: 10px;
  display: flex;
  width: 100%;
  margin-top: 18px;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-radius: 10px;

  background: linear-gradient(180deg, #edefe2 0%, rgba(255, 255, 255, 0) 100%);
}

.NavbarList {
  display: flex;
}

.NavbarListItem {
  list-style-type: none;
  margin: 0 8px;
}

.NavbarListItem a {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */
  text-transform: capitalize;
  color: #000000;
  text-decoration: none;
  white-space: nowrap;
}

.Navbar-sağ {
  display: flex;
  justify-content: space-between;
  width: 350px;
  align-items: center;
}

.Navbar-input-wrapper {
  display: flex;
  align-items: center;
  background: #ffffff;
  opacity: 0.5;
  border-radius: 10px;
  height: 50px;
  padding: 10px;
}

.Navbar-input-wrapper input {
  background: #ffffff;
  border-radius: 10px;
  border: none;
  outline: none;
  /* padding: 8px 20px; */
}

.Navbar-input-wrapper svg {
  cursor: pointer;
}

.Navbar-sağ a svg {
  width: 20px;
}

/*Navbar End*/

/* Slider */

.Slider {
  display: flex;
  margin: 3rem;
  align-items: center;
  position: relative;
  justify-content: center;
}


.BottomSlideImg {
  width: 100%;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  transform: translateY(calc(100% - 70px));
}

.Slider-right {
  display: flex;
}

.Slider-right-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Slider-right-col h5 {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-transform: capitalize;
  color: #e59437;
}

.Slider-right-col h4 {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 53px;
  text-transform: capitalize;
}

.Slider-right-col .author {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #000000;
  margin: 15px 0;
}

.Slider-right-comment {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-transform: capitalize;

  color: #000000;
  margin: 8px 0;
}

.Slider-right-col button {
  border: 1px solid #000000;
  border-radius: 10px;
  background: transparent;
  padding: 10px 15px;
  text-align: center;
  cursor: pointer;
  margin-top: 2rem;
}

.Slider-right-img {
  margin-left: 1rem;
}

/* Slider Left */
.Slider-left {
  margin-left: 1rem;
}

.Slider-left-btns {
  display: flex;
}

.Slider-left-btns button {
  border-radius: 50%;
  border: 2px solid black;
  padding: 10px 15px;
  cursor: pointer;
}

.Slider-left-btns button:nth-child(2) {
  margin-left: 5px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid black;
  border-bottom: 5px solid black;
  padding: 10px 15px;
}

.Slider-left-books {
  display: flex;
  margin-top: 15px;
  width: 40vw;
}

.Slider-left-books h4 {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-transform: capitalize;
  color: #000000;
}

.Slider-left-books img {
  margin-top: 0.7rem;
}

@media only screen and (max-width: 1200px) {
  .Slider {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  .Slider-left {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .Slider-left-books {
    width: auto;
  }
}

@media only screen and (max-width: 1024px) {
  .book-wrapper:nth-child(3) {
    display: revert;
  }
}

/* Slider and*/

.kategoriler {
  margin: 15px 1.5rem;
}

.kategori-head {
  margin-left: 3.5rem;
  margin-bottom: 15px;
}

/* Kategori Slider */
.kategori-slider {
  display: flex;
  justify-content: space-between;
}

.kategori-slide-btn {
  height: auto;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.kategori-slide {
  background: linear-gradient(180deg, #edefe2 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 10px;
  width: 270px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 10px;
}

.kategori-slide h4 {
  margin-top: 5px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.kategori-prev,
.kategori-next {
  text-align: center;
  padding: 10px 15px;
  border-radius: 50%;
  border: 2px solid black;
  outline: none;
  cursor: pointer;
}

/* HAKKIMIZDA SAYFASI */
.about {
  margin: 8rem 2rem;
  width: 100%;
  background: #fdfbf7;
  border-radius: 10px;
  padding: 3rem;
}

.about span {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-transform: capitalize;
  color: #000000;
  opacity: 0.5;
  margin-bottom: 1rem;
}

.about h1 {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 115px;
  /* identical to box height, or 120% */

  text-transform: capitalize;

  color: #000000;
}

.about-desc {
  width: 100%;
  height: 300px;
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}

.about-desc p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-transform: capitalize;

  color: #000000;
}

.about-ımg {
  width: 500px;
  height: 600px;
  margin-bottom: 6rem;
}

.about-desc-bottom {
  margin-top: 2rem;
}

.about-desc-bottom h3 {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-transform: capitalize;
  color: #000000;
}

.about-desc-bottom p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-transform: capitalize;

  color: #000000;
}

.about-footer {
  margin-top: 3rem;
  margin: auto 2rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(180deg, #edefe2 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 10px;
}

.about-footer .about-footer-form h3 {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 85px;
  text-transform: capitalize;
  color: #000000;
}

.about-input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  border: 1px solid #000000;
  border-radius: 10px;
  background-color: transparent;
  padding: 10px;
}

.about-input-wrapper input,
button {
  border: none;
  outline: none;
  background-color: transparent;
}

.about-footer .btn-group {
  margin: 5px 0;
}

.btn-check {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */

  align-items: center;
  text-transform: uppercase;

  color: #000000;

  opacity: 0.5;
}

.about-socials {
  display: flex;
  justify-content: end;
}

.about-socials svg {
  margin: 10px 5px;
  cursor: pointer;
}

.about-footer-email-wrapper {
  display: flex;
  justify-content: end;
}

.about-footer span {
  margin-top: 1rem;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */
  color: #000000;
}

.about-footer-telif {
  display: flex;
  justify-content: space-between;
  margin: 1rem 2rem;
}

.about-footer-telif a,
p {
  text-decoration: none;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */

  text-transform: capitalize;

  color: #000000;

  margin: 0 10px;
}

.about-footer-social {
  margin-top: 1rem;
}

@media only screen and (max-width: 992px) {
  .about-ımg-wrapper {
    display: none;
  }
}

/* HAKKIMIZDA AND */

/* Iletişim */

.iletişim {
  width: 100%;
  padding: 3rem;
}

.iletişim span {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-transform: capitalize;
  color: #000000;
  opacity: 0.5;
  margin-bottom: 1rem;
}

.iletişim .iletişim-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iletişim .iletişim-top h1 {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 115px;
  /* or 120% */
  text-transform: capitalize;
  color: #000000;
}

.iletişim-center {
  display: flex;
  justify-content: space-between;
  background: #FDFBF7;
  border-radius: 10px;
  padding: 0 1rem;

}

.iletişim-center-harita {
  padding: 1rem;

}

.iletişim-center-desc-wrapper {
  display: flex;
  align-items: center;
}

.iletişim-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 60%;
  margin-bottom:
    3rem;
}

.iletişim-center-desc {
  margin-right: 1rem;
}

.iletişim-icons svg,
.iletişim-center-desc {
  margin: 0 .5rem;
}

.iletişim-center-desc .adress {
  margin: 0 0 15px 0;
}

.iletişim-center-desc .adress h3 {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height */
  text-transform: capitalize;
  color: black;

}

.iletişim-center-desc .adress p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-transform: capitalize;
  color: #000000;
  margin: 0;
  margin-top: .5rem;
}

.iletişim-hr {
  opacity: 0.2;
  border: 1px solid #000000;
  margin-top: 2rem;
}

.iletişim-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.iletişim-form h3 {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  /* identical to box height */

  text-transform: capitalize;

  color: #000000;
}

.iletişim-form-wrapper {
  display: flex;
}

.iletişim-input-form {
  display: flex;
  flex-direction: column;
}

.iletişim-input-form:nth-child(2) {
  margin-left: 15px;
}

.iletişim-input-form input,
textarea {
  background: #FDFBF7;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 10px 3rem;
  margin-top: .5rem;
}

.iletişim-input-form button {
  background: #DDE7DE;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 10px 15px;
  width: 100%;
  margin-top: .5rem;
}

.iletişim-checkbox {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 18px;
  /* identical to box height */


  text-transform: uppercase;
  color: #000000;
  opacity: 0.5;
}

.btn-group {
  display: flex;
  align-items: center;
  margin-top: .5em;
  height: 20px;
}

.btn-outline-primary {
  margin-left: 5px;
  margin-top: 3px;
}

/* Iletişim AND */
/* Hesabım  */
.Hesabım {
  width: 100%;
  padding: 3rem;
}

.Hesabım span {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-transform: capitalize;
  color: #000000;
  opacity: 0.5;
}

.Hesabım h1 {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  /* identical to box height */
  text-transform: capitalize;
  color: #000000;
}

.hesabım-book {
  display: flex;
}


.hesabım-book-img img {
  width: 100%;
}

.hesabım-books-wrapper {
  padding: 0;
  margin: 0;
}

.hesabım-book-desc {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.hesabım-book-desc h3 {

  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  /* identical to box height */
  text-transform: capitalize;
  color: #000000;
}

.hesabım-stars {
  display: flex;
  margin-top: 15px;
}

.hesabım-stars svg {
  margin: 0 3px;
}

.hesabım-stars span {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-transform: capitalize;
  color: black;
  opacity: 1;
}


.hesabım-comment {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  margin-top: 15px;
}

.hesabım-comment span {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */
  text-transform: capitalize;
  color: #000000;
  opacity: 1;
}

.hesabım-incele {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */
  text-transform: capitalize;
  color: black;
  border: 1px solid #000000;
  padding: 10px 3rem;
  margin-top: 20px;
  border-radius: 10px;
  cursor: pointer;
}

#hesabım-book {
  position: relative;
}

.star-book {
  position: absolute;
  top: -60px;
  left: 130px;
  width: 150px;
}

.hesabım-books-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-top: 5rem;
}

.hesabım-book-img img {
  width: 200px;
}

.öner {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 85px;
  text-transform: capitalize;

  color: #000000;
  margin-bottom: 1rem;
}

.büyütelim {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 18px;
  /* identical to box height */
  text-transform: capitalize;
  color: #000000;
  margin: 0;
}

.öneri-wrapper {
  background: linear-gradient(100.8deg, #FBDEC7 0.45%, rgba(255, 255, 255, 0) 99.71%);
  border-radius: 21px;

  display: flex;
  justify-content: space-between;
}

.öneri-left {
  padding: 2rem;
}

.öneri-wrapper svg {
  width: 350px;
}

.öneri-btn {
  padding: 10px 5rem;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */
  text-transform: capitalize;
  cursor: pointer;
}

.öneri-btn .öneri-like {
  width: 25px;
  margin: 0 5px 0 0;
}

/* Hesabım AND */

/* Kitap Listesi  */

.book-kategori {
  display: flex;
  justify-content: space-between;
}

.book-kategori h1 {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  /* identical to box height */

  text-transform: capitalize;
  color: #000000;
  cursor: pointer;
}

.book-kategor-wrapper {
  display: flex;
  align-items: center;
}

.book-kategor-wrapper p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */

  text-transform: capitalize;

  color: #000000;
}

/* List */
.book-list-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 240px);
  grid-template-rows: repeat(5, auto);
  grid-column-gap: 5px;
  grid-row-gap: 0px;
}

.book-list-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.book-list-item {}

.book-list-item img {
  background: linear-gradient(180deg, #EDEFE2 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 10px;
  padding: 10px;
  width: 260px;

}

.book-list-desc {
  /* width: 295px; */
}

.book-list-wrapper .book-list-desc h3 {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
}






/* Kitap Listesi AND */